<div class="container">
  <h2>Mes achats précédents</h2>
    <% @lists.each do |list| %>
      <%= link_to list_path(list) do %>
        <div class="list-history-container">
          <div class="list-date-user">
            <h6 class="list-date"><%= list.date.strftime("%d %h %Y") %></h6>
            <p class="list-user"><%= list.user.name %></p>
          </div>
          <% list.products.first(3).each do |product| %>
            <% if product.photo.attached? %>
              <%= cl_image_tag product.photo.key, class: "list-photo", crop: :fill %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    <% end %>
</div>
