<div class="container">
  <div class="app-bar-top">
    <%= link_to lists_path do %>
      <span class="material-icons black-text">chevron_left</span>
    <% end %>
  </div>
</div>

<div class="container" id="product-by-list-container">
 <h2><%= @list.date.strftime("%d/%m/%Y") %></h2>
 <p><%= current_user.name %></p>

  <% @products_by_list.each do |product| %>
    <div class="list-item-bought-container">
      <span class="material-icons" id="icon-check">done</span>
      <p style="text-decoration: line-through" id="product-name"><%= product.name %></p>
    </div>
  <% end %>
</div>
