.connection-background {
  height: 100vh;
  background-color: #9e9d24;
  h2, a {
    color: white;
  }
}

.btn-connection {
  background-color: white;
  color: #9e9d24;
}

.btn {
  box-shadow: none;
}

.form-check label {
  color: white;
}

.connection-link {
  text-align: center;
}
