<%= render 'shared/navback' %>

<div class="container" id="container-filters">
  <% @filters.each do |filter| %>
    <div class="container-tag">
      <%= link_to filter_tag_path(filter) do%>
        <div class="filter tag-unselected">
          <%= filter.name %>
        </div>
      <% end %>

    </div>
  <% end %>
</div>
