<div data-controller='search-products'>
  <div class="container mt-2">
    <%= form_with url: tags_path, method: :get, data: {search_products_target:'form'} do |l|%>
      <%= l.text_field :query,
                          class: "form-control",
                          placeholder: "Recherchez un produit",
                          value: params[:query],
                          data: { search_products_target: 'searchInput', action: 'keyup->search-products#update'}
                        %>
      <% end %>
  </div>
  <%# <%= submit_tag "Search", class: "btn btn-primary" %>
  <%= render 'list', tags: @tags  %>
</div>
