<div>
  <%= form_tag tags_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Banane, carrots..."
    %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
</div>



<% @tags_category.each do |tag|  %>
  <div class="card-product">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
    <div class="card-content">
      <div class="card-product-infos">
          <%= link_to tag.name, tag_path(tag.id) %>
      </div>
      <i class="fas fa-chevron-right"></i>
    </div>
  </div>
<% end %>
