<h3>Search to be added</h3>

<% @tags_category.each do |tag|  %>
  <div class="card-product">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
    <div class="card-content">
      <div class="card-product-infos">
          <%= link_to tag.name, tag_path(tag.id) %>
      </div>
      <i class="fas fa-chevron-right"></i>
    </div>
  </div>
<% end %>
