<div data-controller='search-products select'>
  <%= form_with url: tags_path, method: :get, data: {search_products_target:'form', select_target: 'form'} do |l|%>
    <%= l.text_field :query,
                        class: "form-control",
                        placeholder: "Fruit...",
                        value: params[:query],
                        data: { search_products_target: 'searchInput', select_target: 'searchInput', action: 'keyup->search-products#update keyup->select#insert_text'}
                      %>
    <% end %>
    <%# <%= submit_tag "Search", class: "btn btn-primary" %>
    <%= render 'list', tags: @tags  %>
</div>
