<div class="container">
  <h2><%= @tag.name %></h2>

  <div class="cards">

    <% @tag.products.each do |product|  %>
      <div data-controller="select">
        <%= link_to product_lists_path(product_id: product.id), method: :post, remote: :true do%>
          <div class="product_name" data-select-target="products" data-action= "click->select#add_product">
            <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
            </div>
            <%= product.name %>
          </div>
        <% end %>
      </div>
    <% end %>

</div>
