<div class="container-fluid">
  <h4 class="text-center fw-bolder mb-3"><%= @tag.name %></h2>

  <div class="cards">

    <% @tag.products.each do |product|  %>
      <div data-controller="select">
        <%= link_to product_lists_path(product_id: product.id), method: :post, remote: :true do%>
          <div class="product_name" data-select-target="products" data-action= "click->select#add_product">
            <div class="card-category">
              <% if product.photo.attached? %>
                <%= cl_image_tag product.photo.key, crop: :fill%>
              <% else %>
              <% end %>
            </div>
            <p class="text-center fw-bold mb-0" ><%= product.name %></p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
