<div class="container">
  <h2><%= @tag.name %></h2>

  <div class="cards">

    <% @tag.products.each do |product|  %>
      <div class="product-name">
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
        </div>
        <p><%= link_to product.name, product_lists_path, method: :post %></p>
      </div>
    <% end %>

</div>
