.app-bar-bottom {
  height: 64px;
  overflow: hidden;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 10vw;
  padding-right: 10vw;
  background-color: #F4F4F4;
  padding-top: 20px;
}

#floating-btn {
  bottom: 72px;
  right: 40px;
  width: 60px;
}

#floating-btn-text {
  bottom: 72px;
  right: 40px;
}

#shopping-cart {
  position: relative;
}

.number-products-bought {
  border-radius: 50%;
  background-color: #827717;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  position: fixed;
  left: 52px;
  bottom: 32px;
}

#number-products-bought-text {
  color: white;
  padding-top: 1px;
}

.material-icons {
  font-size: 36px !important;
}
