.app-bar-bottom {
  height: 64px;
  overflow: hidden;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 10vw;
  padding-right: 10vw;
  background-color: #F4F4F4;
  padding-top: 20px;
}

#shopping-cart {
  position: relative;
}





#number-products-bought-text {
  color: white;
  padding-top: 1px;
}

.material-icons {
  font-size: 30px !important;
}

#number-products-bought {
  border-radius: 50%;
  background-color: #827717;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  position: fixed;
  left: 52px;
  bottom: 32px;
}

.product-added-effect {
  animation: fadein 0.5s;
}
@keyframes fadein {
  from {  opacity: 1;
          height: 3rem;
          width: 3rem;
          // margin-left: -0.5rem;
          // margin-top: -0.5rem;
          }
  to   {  opacity: 1;
          height: 24px;
          width: 24px;}
}
