.card-product {
  overflow: hidden;
  height: 50px;
  background: white;
  display: flex;
  align-items: center;
}

.card-product img {
  height: 40px;
  width: 40px;
  border-radius: 8px;
  object-fit: cover;
  margin-left: 24px;
}

.card-product a {
  font-size: 16px;
  color:black;
  margin-left: 16px;
}


.card-product .card-product-infos {
  padding: 8px;
}

.card-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 75%;
}
