
.form-control {
  border-radius: 8px !important;
  border: none !important;
  background-color: white !important;
  padding-left: 12px !important;
  width: 95% !important;
}

#product_frequency {
  width: 50vw !important;
}

.product_frequency {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.product_frequency label {
  color: black;
  font-size: 16px;
  margin-top: 4px;
}
