.list-item-container {
  background-color: white;
  height: 110px;
  border-radius: 8px;
  margin-bottom: 12px;
  padding: 12px;
  display: flex;
  justify-content: start;
}

.product {
  display: flex;
  justify-content: flex-start;
}

#product-name {
  font-weight: bold;
  margin-bottom: 8px;
  margin-top: 8px;
  text-decoration: none;
}

#product-reminder {
  background-color :#EF9B38;
  border-radius : 8px;
  padding: 4px 16px;
  color: white;
  margin: 0px !important;

}


#checkbox {
  color: #CDCDCD;
  font-size: 24px;
  display: flex;
  align-items: center;
}


.product-info {
  margin-left: 16px;
  margin-top: auto;
  margin-bottom: auto;
}

.list {
  margin-bottom: 68px;
}

.list-photo {
  height: 60px;
  width: 60px;
  border-radius: 8px;
  object-fit: cover;
  margin-top: auto;
  margin-bottom: auto;
}

.checkbox-link {
  margin-right: 12px;
  margin-top: auto;
  margin-bottom: auto;
  text-decoration: none !important;
}

.list-date {
  color: black;
}

#product-by-list-container {
  margin-bottom: 60px;
}

.list-user {
  padding: 4px 16px;
  border-radius: 8px;
  color: white;
  width: fit-content;
  background-color: #9e9d24;
}

.list-history-container {
  background-color: white;
  height: 150px;
  border-radius: 8px;
  margin-bottom: 12px;
  padding: 12px;
}

.list-date-user {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.list-photo-2 {
  height: 120px;
  width: 120px;
  border-radius: 8px;
  object-fit: cover;
  margin-top: auto;
  margin-bottom: auto;
}

.link-block {
  text-decoration: none !important;
  display: flex;
  color:black !important;
}

#plus-icon {
  font-size: 72px !important;
  position: absolute;
  right: 89px;
  top: 159px;
  width: 40px;
}

#cart-icon {
  font-size: 150px;
  margin-top: 40px;
  color:#9e9d24;
}

.center{
  display: flex;
  position: relative;
  justify-content: center;
}



.center {
  img {
    width :80%;
  }
}
