.container-tag {
  margin: 8px 0px;
}

.tag {
  padding-top: 6px;
  padding-bottom: 0px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 8px;
  margin-left: 12px;
  text-align: center;
  height: 36px;
}

.tag-selected {
  background-color: #9e9d24 ;
  color: white;
}

.tag-unselected {
  background-color: white ;
  color: black;
}

.container-fluid {
  margin-bottom: 100px;
}

.product_name p {
  width: 100px;
}
