

<div class="container">
  <h2>Products to buy</h2>
  <div class="list">
    <% @products_to_buy.each do |product| %>
    <div class="list-item-container">
    <div class="product">
      <span class="material-icons" id="checkbox">check_box_outline_blank</span>
      <div class="product-info">
        <p id="product-name"><%= product.name %></p>
        <p id="product-brand">My favorite brand</p>
      </div>
    </div>
    <div class="product-photo"></div>
    </div>
    <% end %>
  </div>
</div>

<div class="container">
  <h2>products bought</h2>
  <div class="list">
    <% @products_bought.each do |product| %>
    <div class="list-item-container">

      <p style="text-decoration: line-through" id="product-name"><%= product.name %></p>
    </div>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="app-bar-bottom">
    <span class="material-icons lime-text text-darken-3" id="shopping-cart">shopping_cart</span>
    <div class="fixed-action-btn btn-floating btn-large lime darken-3" id="floating-btn">
        <i class="large material-icons btn-floating btn-large lime darken-3" data-toggle="modal" data-target="#exampleModalLong">add</i>
    </div>
    <span class="material-icons lime-text text-darken-3" id="chat">chat</span>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Search MVP</h5>
      </div>
      <div class="modal-body">
        <% @products.each do |product|  %>
        <li><%= product.category %></li>
        <% end %>
      </div>
      </div>
    </div>
  </div>
</div>
